{% extends "layout.html" %}

{% block main %}

<div class="info-div">
    <p data-en="We are your local grocery store, specializing in Latin merchandise" 
       data-es="Somos su tienda de comestibles local, especializada en mercancía latina">
      
    </p>

    
</div>

<div class="hours">
    <h3 data-en="Store Hours:" 
        data-es="Horario de tienda:">
        Store Hours:
    </h3>

    <p data-en="Mon - Fri: 10 AM to 8 PM" 
       data-es="Lun - Vie: 10 AM a 8 PM">
        Mon - Fri: 10 AM to 8 PM
    </p>
</div>




<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.5662349005333!2d-81.6255455232587!3d30.306407906109232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e5b68a88d8d2b1%3A0xc3db93576c9d1926!2sLa%20Colonia!5e0!3m2!1sen!2sus!4v1738806507013!5m2!1sen!2sus" 
    width="600" 
    height="450" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">

</iframe>

{% endblock %}