{% extends "layout.html" %}

{% block main %}
<section id="daily-menu">
    
    
    <section class="menu">
        <h1>Menu</h1>
        <div class="menu-grid">
            
            {% for item, details in menu.items() %}
            <div class="menu-item">
                <img src="{{ details[2] }}" alt="{{ item }}">
                <h2>{{ item }}</h2>
                <p>{{ details[1] }}</p>
                <span class="price">${{ "%.2f" | format(details[0]) }}</span>
            </div>

            {% endfor %}
        </div>
    </section>
</section>


{% endblock %}