{% extends "layout.html" %}

{% block main %}
    
    <section class="services">
        {% for service, description in services.items() %}
            <div class="service">
                <div class="service-content">
                    <h2 class="service-name" 
                        data-en="{{description[0]}}" 
                        data-es="{{service}}">
                        
                    </h2>
                    <p class="service-description" 
                    data-en="{{description[1]}}" 
                    data-es="{{description[2]}}">
                        
                    </p>
                </div>
                <div class="service-image">
                    <img src="{{description[3]}}" alt="Service 1 Image">
                </div>
            </div>
        {% endfor %}
    
        
    </section>
{% endblock %}